#sortable { list-style: none; text-align: left; margin: 10px 0 0 0;padding: 0;clear: both;}

/*#sortable li { margin: 0 0 10px 0;/*height: 75px;*/ /*background: #dbd9d9;border: 1px solid #999999;border-radius: 5px;color: #333333;}*/

#sortable li {margin: 0 0 10px 0;min-height: 40px;background: #fff;border: 1px solid #e3e3e3;border-radius: 8px;color: #777;box-shadow: 0 0 3px #dedede;padding: 8px 8px;}

#sortable h4 {display: inline-block;width: calc(100% - 155px);vertical-align: middle;font-size: 16px;font-weight:600;line-height:28px;margin-top:0;margin-bottom:0;}
#sortable h4 small{ font-size:14px;display: inline-block;    font-weight: 600;}

#sortable li span {background-color: #e3e3e3;background-image: url('../images/drag.png');background-repeat: no-repeat;background-position: center;width: 30px;height: 28px; display: inline-block; margin-right:10px;float: left;cursor: move;border-radius: 5px;}

/*#sortable li img {height: 65px;border: 5px solid #cccccc;display: inline-block;float: left;}*/

#sortable li .action_btns {padding: 0;width: 100px;display: inline-block; text-align:right;vertical-align: middle;}

#sortable li .action_btns a{ display:inline-block; vertical-align: middle;}


#sortable li h2 {font-size: 16px;line-height: 20px;}

.panel-body ul li {border: 0px solid #999999!important;background: #fff !important;}